/* ------------------------------- Общие стили всех страниц ------------------------------- */
body {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    background: linear-gradient(to top right, white, #cbb7fd);
    color: black;
    height: 80vh;
    background-size: cover;
    margin-top: 80px;
    padding: 30px;
}

header img {
    &.logo {
        height: 80px;
        margin-left: 40px;
    }

    &.logout {
        height: 50px;
        margin-right: 40px;
    }
}

header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 25px 0 black;
}

header * {
    display: inline;
}

.logolist {
    display: flex;
    align-items: center;
}

header li {
    margin: 20px;
}

header li a {
    color: black;
    text-decoration: none;
    transition-property: color;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

header li a:hover {
    color: #996ee0;
    transition-property: color;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

footer {
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 5px 0 black;
    padding: 10px 20px 10px 20px;
    font-size: 13px;
}

footer * {
    display: inline;
}

#content h1 {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 70px;
    padding: 60px 50px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;

    &.retroshadow {
        color: #2c2c2c;
        /*background-color: #d5d5d5;*/
        letter-spacing: .05em;
        text-shadow:
                4px 4px 0px #d5d5d5,
                7px 7px 0px rgba(0, 0, 0, 0.2);
    }
}

#content p {
    font-size: 20px;
    text-align: center;
}

input[type=submit], input[type=button], input[type=reset] {
    margin-top: 5px;
    background-color: #d2baf6;
    border-radius: 100px;
    box-shadow: rgba(80, 44, 187, 0.2) 0 -25px 18px -14px inset, rgba(80, 44, 187, 0.15) 0 1px 2px, rgba(80, 44, 187, 0.15) 0 2px 4px, rgba(80, 44, 187, 0.15) 0 4px 8px,rgba(80, 44, 187, .15) 0 8px 16px,rgba(80, 44, 187, .15) 0 16px 32px;
    color: #6b41b2;
    cursor: pointer;
    display: inline-block;
    /*font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;*/
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

input[type=submit]:hover, input[type=button]:hover, input[type=reset]:hover {
    box-shadow: rgba(80, 44, 187,.35) 0 -25px 18px -14px inset,rgba(80, 44, 187,.25) 0 1px 2px,rgba(80, 44, 187,.25) 0 2px 4px,rgba(80, 44, 187,.25) 0 4px 8px,rgba(80, 44, 187,.25) 0 8px 16px,rgba(80, 44, 187,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

/* ------------------------------- Списки записей ------------------------------- */
div.recordList {
    text-align: center;
}

.recordTable {
    margin: 0 auto 15px auto;
    border-collapse: collapse;
    /*margin: 25px 0;*/
    font-size: 0.9em;
    /*font-family: sans-serif;*/
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

tr.record {
    cursor: pointer;
}

.recordTable thead tr {
    background-color: #892bcb;
    color: #ffffff;
    text-align: left;
}

.recordTable th,
.recordTable td {
    padding: 12px 15px;
}

.recordTable tbody tr {
    border-bottom: 1px solid #dddddd;
}

.recordTable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.recordTable tbody tr:last-of-type {
    border-bottom: 2px solid #892bcb;
}

/* ------------------------------- Profile ------------------------------- */

.profile {
    margin: 70px auto 20px auto;
    border: none;
}
.profile td {
    text-align: left;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    vertical-align: top;
}
.profile tr:nth-child(odd){
    background: #a56aff42;
}
.profile tr td:first-child {
    border-radius: 8px 0 0 8px;
}
.profile tr td:last-child {
    border-radius: 0 8px 8px 0;
}
